<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^hy/$ /index.html [L]
RewriteRule ^en/$ /index_en.html [L]
RewriteRule ^hy/about/$ /about_hy.html [L]
RewriteRule ^en/about/$ /about_en.html [L]

</IfModule>